.yellow-background {
    background-color:rgba(247, 183, 51, 1);
    opacity: 1;
    background-image: radial-gradient(white 0.5px, rgba(247, 183, 51, 0.85) 0.5px);
    background-size: 10px 10px;
  }

  .orange {
    background-color: rgba(252, 74, 26, 1);
  }

  .orange-outline {
    border: 1px solid rgba(252, 74, 26, 1);
  }

  .color-shadow {
    box-shadow: 10px 10px 15px rgba(74, 189, 172, 1);;
  }